.detail-section {
  display: grid;
  gap: 30px;
  padding-top: 60px;
  grid-template-columns: 62.8% 1fr;
  width: 100%;
  padding-bottom: 150px;
}

.hero-section {
  display: grid;
  grid-template-columns: 475px 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 30px;
}

.description-section {
  text-align: left;
}

.header {
  padding-left: 65px;
  padding-bottom: 67px;
  margin-left: -100px;
  background-color: white;
  z-index: 1;
}

.header .painting-name {
  margin-bottom: 24px;
}

.header .painting-author {
  color: var(--color-gray);
}

.author-image {
  margin: auto 0 -64px;
}

.paragraph {
  color: var(--color-gray);
  max-width: 350px;
  margin-bottom: 81px;
}

.year {
  margin-bottom: -35px;
}

.painting {
  position: relative;
  grid-row: 1 / span 2;
}

.view-image {
  position: absolute;
  left: 16px;
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  background-color: rgba(0, 0, 0, 0.7546);
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
  color: white;
  padding: 14px 16px;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.143px;
}

.view-image .img {
  height: 12px;
  width: 12px;
}

.painting img {
  object-fit: cover;
  max-width: 100%;
}

.link {
  color: var(--color-gray);
}

@media (max-width: 1440px) {
  .detail-section {
    padding-top: unset;
    max-width: 768px;
    margin: auto;
    grid-template-columns: none;
  }

  .year {
    margin-bottom: -75px;
  }

  .paragraph {
    margin-bottom: 40px;
    margin-left: 115px;
    max-width: 457px;
  }

  .link {
    margin-left: 115px;
  }

  .header {
    margin-left: -232px;
  }
  .author-image {
    margin: unset;
  }
}

@media (max-width: 768px) {
  .author-image {
    height: 64px;
    width: 64px;
    margin-left: 24px;
  }

  .paragraph {
    max-width: unset;
  }

  .view-image {
    bottom: unset;
    top: 16px;
  }

  .year {
    text-align: right;
    margin-top: -20px;
    margin-bottom: -26px;
  }

  .paragraph {
    margin-bottom: 40px;
    margin-left: unset;
    max-width: unset;
  }

  .link {
    margin-left: unset;
  }

  .hero-section {
    grid-template-columns: unset;
    grid-template-rows: min-content 1fr;
  }

  .header {
    padding: 24px;
    margin-top: -88px;
    margin-left: unset;
    background-color: white;
    max-width: calc(100% - 47px);
  }
  .detail-section {
    gap: unset;
  }
}
@media (max-width: 618px) {
}

@media (max-width: 375px) {
  .header .painting-name {
    margin-bottom: 8px;
    max-width: 232px;
  }
}
