#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  #root {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 768px) {
  #root {
    padding-left: 24px;
    padding-right: 24px;
  }
}
