:root {
  --color-black: #000000;
  --color-gray: #7d7d7d;
  --color-light-gray: #e5e5e5;
  --color-gray-100: #f3f3f3;
  font-family: "Libre Baskerville";
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: inherit;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.display {
  color: #f3f3f3;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: 150px;
}

.heading1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 114.286% */
}

.heading2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subhead1 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subhead2 {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link1 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.571px;
}

.link2 {
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.929px;
  text-decoration-line: underline;
}

.body {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  min-height: 100vh;
}

@media (max-width: 375px) {
  .heading1 {
    font-size: 24px;
    line-height: normal;
  }
}
